<h2>{{toDoItem.name}} Details</h2>
<div><span>id: </span>{{toDoItem.id}}</div>
<div><span>name: </span>{{toDoItem.name}}</div>
<div>
 <span>is complete: </span>{{toDoItem.isComplete}}
</div>

<ul>
    <li *ngFor="let item of items">
        <span>{{item.id}} ==></span>
        <span>{{item.name}}</span>
    
    </li>
</ul>


<div *ngIf="items.length > 0">
    {{items.length}} {{items.length === 1 ? 'item' : 'items'}}
</div>

<h1 *ngIf="titleBool">Lorem ipsum dolor sit amet consectetur, adipisicing elit. Porro, eum.</h1>



<!-- <div *ngFor="let item of items">{{item.isComplete}}</div> -->

<div [ngSwitch]="car">
    <p *ngSwitchCase="'Audi'">This is Audi</p>
    <p *ngSwitchCase="'BMW'">This is BMW</p>
    <p *ngSwitchCase="'Mercedes'">This is Mercedes</p>
    <p *ngSwitchDefault>Car is undefined</p>
</div>
